body{
    background: lightgrey;
  
  }

 ::-webkit-scrollbar {
    display:none;
  }
  
  #container{
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    position: absolute;
    margin: auto;
    top:0;
    left:0;
    right:0;
    bottom:0;
    height:840px;
    width:1450px;
  
  }

  #net{
    border-left: 10px dashed white;
    height: 840px;
    left: 50%;
    position: absolute;

}
  
  #play1-score, #play2-score, #play1, #play2, #Enter{
    color: white;
    position: absolute;
    top:12px;
    font-size:40px;
    font-family: Arial, Helvetica, sans-serif;
  
  }

  #controls, #controls2{
    color: white;
    position: absolute;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    
  }

  #controls{
    top:65%;
    left:20%;
  }

  #controls2{
    top: 65%;
    left: 70%;

  }

  #Enter{
    z-index: 9;
    color: red;
    top: 40%;
    left: 40%;
  }
  
  #play1-score{
    left:24%;
    top: 60px;
  }
  
  #play2-score{
    left:74%;
    top: 60px;
  }

  #play1{
    left:20%;
    
  }

  #play2{
    left: 70%;
   
  }


  #paddle1, #paddle2{
    position: absolute;
    background: white;
    height:125px;
    width:20px;
    top:350px;
    
  
  }
  #paddle1{
      left: 50px;
  } 

   #paddle2{
      left: 1375px;
   }
   

  #ball{
    background-color: black;
    height:30px;
    width:30px;
    border-radius: 50%;
    position:absolute;
    top:400px;
    left:715px;
  }

  #border{
    
    border-right: 10px solid blueviolet;
    border-left: 10px solid blueviolet;
    height: 840px;
    
 }

